In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Importing the csv file

df = pd.read_csv('101.csv')
df.head()

  participant                        sentence
0         MOT  what animal's on there Tracy ?
1         CHI                    hm: horsie ?
2         MOT                        horsie ?
3         MOT           it's a horsie phone ?
4         MOT            that's pretty neat .

In [5]:
# logic to concatenate all the rows in sentence column into one single string

temp = ''.join(df['sentence'].astype(str))

print(temp)

what animal's on there Tracy ?hm: horsie ?horsie ?it's a horsie phone ?that's pretty neat .can you call someone on that ?&-uh I wanna find another thing .you wanna find something else ?let's see what we have in here .oh we have a baby brush .you wanna brush her hair ?hm: no .no ?&=laughs we'll leave that with her .baby bottle ?do you wanna give her baby bottle ?no !no ?you sure ?look it fits right in there .look oh .no .no ?okay we'll leave the baby stuff over there .play with this !oh you wanna play with the blocks .alright let's take them out .you gonna help me take them out sweetie ?we'll make a tower ?what do you wanna make with it ?xxx .you're not sure ?alright .what we gonna make .you wanna put your phone down ?let's see we wanna make a +/.xxx .what's that ?spoon !I guess that's to feed the baby too .you don't wanna play with her right ?nah !no ?okay .too babyish !too babyish &=laughs ?alright .so teacups ?would you like to have a tea_party ?hm: ye(a)h .ye(a)h alright what would you prefer to do .you wanna &m build a tower now ?or do you wanna have tea first ?hm: tea .tea first ?okay aw at least you have a teacup .the boil, you hafta make sure the tea's all ready and then I, you needta pour some in our cups for us, so that we have enough tea .mm: that looks good .what kind of tea is it ?hm: 0 .you don't know &=laughs +!?what kind of tea do you like ?hm: watermelon tea .watermelon tea +!?what about what Pierre gets at bedtime ?you like that tea .what does he get ?hm: I don't get xxx .chamomile .oh chamomile tea !chamomile tea .that's a nice tea to have with a little bit, what do you put inside of it usually ?hm: tea .something sweet .xxx tea ?ye(a)h tea and then to make it a little sweeter what do we put inside ?do you remember ?no !xxx honey ?honey and +...honey, ye(a)h I put a little honey in there .so are we gonna have our tea together ?are you gonna make a phone+call first ?who you gonna call ?call Daddy ?alright call Daddy and tell him what you're doing .tell him what you're doing .but I +...it's not really a real phone .it's not a real phone &=laughs ?that's why .you can pretend then .that's why <it's not> [x 2] super fun right now (be)cause it doesn't work .ye(a)h .you like the real thing &eh ?oh and are we gonna have something to eat too ?no xxx like babies .no look I think the cups go on there and then we can put something on there to eat .do you wanna make me something to eat ?hm: I don't know what I wanna do .you don't know what you wanna do .okay well that can be your saucer and this can be mine .ye(a)h .alright have we finished our tea ?not yet .are we still drinking it ?xxx .let me see if it's too hot .&oo it's a little hot !&=laughs .<we should wait> [x 2] .blow on it a bit .put it here .hey how about add some honey +!?oh you can add honey to mine .add some honey ?hm: this is honey .that's honey too ?okay put a little honey .&eh &eh .sweeten it .there we go .mm: you hafta stir it up (be)cause honey usually makes it pretty sweet at the bottom .here the stirrers .I'll stir mine .mm: it's gonna be sweet delicious tea !xxx +/.all finished now .all finished ?okay taste it .mm: that was delicious !oh that is so good you drank all your tea in one gulp &=laughs !I want some more !some more ?okay here we go .mm: delicious tea +/.xxx .+, the same kind of tea you're making me ?xxx ye(a)h .what was it again ?&-uh cranberry ?cranberry tea this time ?ye(a)h .okay that's good too .what a nice little teapot you have .you gonna call Daddy again &=laughs ?tell him what you're doing .tell him what you're doing .xxx .oh hi Daddy oh hi ye(a)h .ye(a)h we're having a tea_party here .Tracy made me cranberry and chamomile, tea and put honey in it .and now we're just sipping it .although Tracy already drank his really quickly &=laughs .and I think we're gonna make a block tower next I'm not sure if he wants to .oh he's drinking some more tea !&ah .alright well have a nice day at work .&eh .see you later &=laughs .bye .can you say bye Daddy ?bye .see you later .there we go .alright wanna make a &bl, a big huge tower now Tracy ?no we're doing our tea now &gulp .oh okay we're still drinking tea alright &=laughs .what do you wanna eat with your tea ?hm: I don't know .you're not sure ?what did you have yesterday that you liked so much that I bought you, remember ?remember carrot raisin something ?&-uh cheese stick !a cheese stick, you xxx a cheese stick with your tea ?&-uh no .no &=laughs ?I got so more tea !more tea ?xxx .oh_my_goodness I think you know what ?I think you better get some more water from the kettle .just pretend right here &=laughs .where ?just right, pretend right here you got a kettle it's boiling .and we need some more water for our teacup, <for our> [x 2] &-uh teapot here .xxx fill it up .filled it with some water .is it already warm ?ye(a)h .ye(a)h, okay now we can pour the tea more .water xxx .ye(a)h some more in mine thank_you so much .thank_you .can I have a little more honey in mine please now ?&gulp .oh_my goodness_gracious you like that don't you ?you like that tea .I'm gonna stir mine nicely .make it cool down a bit .xxx could you make me some muffins to go with my tea ?xxx .&-uh sure xxx get some water for you .you gonna get some muffins ?okay &=laughs .&eh .did you make my muffins already ?that was fast !&-uh not yet .not yet ?xxx open this ?oh ye(a)h no you just pretend .just pretend stir up the batter .I need a spoon !need a spoon ?okay stir up the batter .xxx .you put that in there .cheers !oh cheers now okay .cheers sweetie .cheers &=laughs !&gulps .&oo that's delicious .you made a great tea .so good are you all refreshed now ?yes .try those ?xxx see how high you can make those go .&oh &oh &ah &=laughs !&ah &heh &ah .&aw .start with the, square ones .&oh !&aw &da .hard on the blanket &eh ?ye(a)h xxx do it on the floor .oh that'll work better .ye(a)h just take your time .there you go !woah think you could put a blue block on top ?see if it'll stay ?if it'll stay up ?&oo .excellent look how high you're making it !no [x 2] .(a)nother one ?wow &=gasps .&eek .what is xxx oh &=laughs !&aw &=laughs .that was a high tower !&pu &ah .that was a really high tower .one two three .see how many we can stack up there .one two three .four, take your time Tracy .ah &=laughs !&da !can you help me ?yes I can .xxx +/.try to make the tallest tower ever ?can't be on the phone though we're building a tower now right ?xxx .you know what I think we should do maybe ?let's start with the blue blocks .you wanna help me with the blue blocks ?oh ye(a)h !okay let's start with the blue (be)cause they're the, look they're the most the most stable I think .here put the blue on top .and we'll put the yellow .can put them on top even Tracy .like this .okay try to put the next one on .put it right on top though .<right on top> [x 2] &th there .xxx .&oo .&oo, and &w we'll try these very very carefully .and oh we're almost did it !two .oh &=squeals we did it !&=squeals .okay let's put everything back in the box here .wow we did the tallest tower possible !ye(a)h .xxx .I think we're almost done .&psh .great !

In [29]:
# storing the list of all csv filenames into a list

files = [f for f in os.listdir() if f.endswith('.csv')]
files

['101.csv',
 '102.csv',
 '103.csv',
 '104.csv',
 '108.csv',
 '109.csv',
 '110.csv',
 '111.csv',
 '115.csv',
 '117.csv',
 '119.csv',
 '120.csv',
 '121.csv',
 '122.csv',
 '123.csv',
 '124.csv',
 '125.csv',
 '126.csv',
 '127.csv',
 '128.csv',
 '132.csv',
 '133.csv',
 '134.csv',
 '135.csv',
 '138.csv',
 '139.csv',
 '140.csv',
 '141.csv',
 '143.csv',
 '145.csv',
 '149.csv',
 '157.csv',
 '159.csv',
 '161.csv',
 '163.csv',
 '165.csv',
 '167.csv',
 '169.csv']

In [43]:
# Initialising the dataframe
# result dataframe will store the entire conversation of each csv file in one row against its file name

result = pd.DataFrame(columns=['Subject','speech'])
    

# Step 1: Iterate through a csv file
for file in files:
    temp=[] #temp is used to store the concatenated speech data
    df = pd.read_csv(file) #reading the csv file and storing it in a dataframe
    temp = ''.join(df['sentence'].astype(str)) # concatenate the entire speech column into one single string
    temp_df = pd.DataFrame({'Subject': [file.split('.')[0]],'speech' : [temp]}) # storing the result in another dataframe temporarily
    result = pd.concat([result, temp_df]) # concatenating the temporary dataframe with our initialised result dataframe
    

result

  Subject                                             speech
0     101  what animal's on there Tracy ?hm: horsie ?hors...
0     102  wow Harry .xxx the babies &=gasps !&ah Harry !...
0     103  but &the, the horsie on the phone .there's a h...
0     104  wow okay .www .block .okay alright <fix it> [x...
0     108  will we have these ?could this be his hair ?no...
0     109  can I see this teapot ?hey look at &nat .what ...
0     110  xxx .truck is gonna pick up the blocks .is the...
0     111  okay so what do you wanna do ?&-um make [x 3] ...
0     115  nice .oh !nice .oh &=laughs fell over .that's ...
0     117  should we have some tea ?let's see what else w...
0     119  no .no so why you xxx it up then ?xxx .xxx .ho...
0     120  beep@o beep@o .what's that ?what's that ?hey ....
0     121  Laura !oh no .oh no the cup broke we broke the...
0     122  look .oh look she has a baby .look .she has a ...
0     123  are you gonna call the horses ?what are you go...
0     124  we need an xxx .we need an airplane .hm: there...
0     125  www .come .Mama .come sit here .<thank you> [x...
0     126  okay wow look at that .what's that ?&=grunts ....
0     127  where do you wanna put that ?&e .wanna make a ...
0     128  it's Aneesh .here .hi Aneesh .&bu Aneesh can't...
0     132  xxx right now we'll play tea, tea_party ?you d...
0     133  can you see the &-uh, what is it ?xxx toes .ti...
0     134  Ginny .Look at the baby !let's feed the baby G...
0     135  xxx what the phone .on Mommy's knee and on Mom...
0     138  xxx .xxx dolly .www .let's build a little towe...
0     139  no [x 2] she doesn't wanna sit up maybe we can...
0     140  who's on the phone ?can you say hello ?say hel...
0     141  okay can I have some tea please ?do you have a...
0     143  www .(o)kay Miss Lu .what are we doing here ?w...
0     145  what's that ?that's a car, oh we can have a te...
0     149  can you give the babies <a cup of> [x 2] water...
0     157  xxx .oh !oh no !&=laughs oh no .do it again .p...
0     159  hello ?oh hi Frank .hi I'm playing with Minerv...
0     161  here gonna have some tea ?here's some for you ...
0     163  Seeley look .hello .hello .&na call Grandma ?c...
0     165  hi &=laughs .oh you wanna talk to Lance, okay ...
0     167  would you open it please ?I can .and they doll...
0     169  call somebody xxx .who are you calling ?you're...

In [44]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38 entries, 0 to 0
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Subject  38 non-null     object
 1   speech   38 non-null     object
dtypes: object(2)
memory usage: 912.0+ bytes

In [45]:
# converting the subject column into integer data type so that it will be easy to merge

result['Subject'] = result['Subject'].astype('int')

In [46]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38 entries, 0 to 0
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Subject  38 non-null     int32
 1   speech   38 non-null     object
dtypes: int32(1), object(1)
memory usage: 760.0+ bytes

In [47]:
# importing the meta data 


meta = pd.read_excel('bang_nadig.xlsx')
meta

,Subject,Group,Child_Gender,Child_Types,Child_Age_Months,Language,Parent_Gender,Parent_Education,Parent_Token,Parent_Types,Parent_D_optimum_average,Parent_MLU,Parent_NumUtt
0,102,ASD,Boy,1,50.14,English,Female,university,1059,171,52.50,4.224,259
1,103,TYP,Boy,45,31.70,English,Female,below university,719,183,50.07,6.344,122
2,104,ASD,Girl,33,43.07,English,Female,university,635,150,42.13,4.762,143
3,108,ASD,Boy,115,78.92,English,Female,below university,412,138,46.50,6.027,73
4,109,TYP,Boy,86,36.70,English,Female,university,746,187,50.06,6.194,124
5,110,ASD,Boy,50,72.84,English,Female,university,630,142,53.58,4.985,133
6,111,TYP,Boy,82,34.43,English,Female,below university,372,131,57.07,5.937,63
7,115,TYP,Girl,88,52.70,English,Female,below university,393,135,43.69,4.494,89
8,119,TYP,Girl,83,32.00,English,Female,below university,259,89,34.96,5.745,47
9,122,ASD,Boy,117,58.58,English,Female,above university,736,178,46.36,6.803,117
10,123,TYP,Boy,98,34.20,English,Female,above university,1033,216,53.46,6.550,169
11,124,ASD,Boy,55,61.70,English,Female,below university,661,138,39.18,4.223,166
12,128,ASD,Boy,31,52.44,English,Female,below university,647,140,43.74,3.935,186
13,132,ASD,Boy,93,75.33,English,Female,below university,698,170,42.43,5.631,130
14,134,ASD,Girl,17,63.24,English,Female,below university,896,124,34.64,4.650,200
15,135,TYP,Boy,79,31.67,English,Female,university,610,120,29.11,5.134,127
16,138,ASD,Boy,21,65.54,English,Female,university,729,150,45.78,5.969,128
17,139,TYP,Boy,49,32.30,English,Female,university,783,150,46.18,6.370,127
18,140,ASD,Boy,0,58.94,English,Female,university,208,68,31.07,4.447,47
19,145,TYP,Boy,32,26.18,English,Female,university,552,122,30.61,5.910,100
20,161,TYP,Girl,0,22.93,English,Female,below university,503,103,27.98,5.010,104
21,165,TYP,Boy,7,20.47,English,Female,university,697,175,50.54,4.555,164
22,202,ASD,Girl,24,60.68,French,Female,university,888,181,61.21,6.029,171
23,205,TYP,Girl,98,36.27,French,Female,above university,572,156,58.45,5.953,106
24,206,ASD,Girl,52,61.27,French,Female,university,519,150,64.03,4.841,113
25,207,TYP,Boy,73,34.53,French,Female,below university,797,190,62.84,5.466,161
26,214,ASD,Boy,20,62.62,French,Female,below university,301,105,57.18,3.040,101
27,216,ASD,Boy,87,62.36,French,Female,university,639,196,65.61,5.711,114
28,218,ASD,Girl,31,47.01,French,Female,above university,325,108,41.25,4.274,84
29,221,TYP,Boy,35,26.12,French,Female,university,568,143,52.16,5.847,111
30,222,ASD,Girl,11,58.97,French,Female,below university,680,132,33.90,5.687,134
31,224,ASD,Boy,125,67.68,French,Female,above university,693,169,51.97,5.839,137
32,226,ASD,Boy,61,53.95,French,Female,below university,676,173,63.53,5.319,141
33,227,TYP,Boy,71,26.45,French,Female,university,362,114,60.81,4.061,98
34,229,TYP,Girl,87,29.70,French,Female,below university,958,226,70.01,5.908,174
35,233,TYP,Boy,55,26.35,French,Female,university,586,140,52.88,4.043,164
36,241,TYP,Boy,70,46.49,French,Female,above university,630,176,50.66,5.949,118
37,247,TYP,Girl,17,20.01,French,Female,below university,760,175,52.10,6.118,136

In [48]:
# merging the meta data and result dataframe based on the Subject column
merged_dataset = meta.merge(result, how='left', on='Subject')
merged_dataset

,Subject,Group,Child_Gender,Child_Types,Child_Age_Months,Language,Parent_Gender,Parent_Education,Parent_Token,Parent_Types,Parent_D_optimum_average,Parent_MLU,Parent_NumUtt,speech
0,102,ASD,Boy,1,50.14,English,Female,university,1059,171,52.50,4.224,259,wow Harry .xxx the babies &=gasps !&ah Harry !...
1,103,TYP,Boy,45,31.70,English,Female,below university,719,183,50.07,6.344,122,"but &the, the horsie on the phone .there's a h..."
2,104,ASD,Girl,33,43.07,English,Female,university,635,150,42.13,4.762,143,wow okay .www .block .okay alright <fix it> [x...
3,108,ASD,Boy,115,78.92,English,Female,below university,412,138,46.50,6.027,73,will we have these ?could this be his hair ?no...
4,109,TYP,Boy,86,36.70,English,Female,university,746,187,50.06,6.194,124,can I see this teapot ?hey look at &nat .what ...
5,110,ASD,Boy,50,72.84,English,Female,university,630,142,53.58,4.985,133,xxx .truck is gonna pick up the blocks .is the...
6,111,TYP,Boy,82,34.43,English,Female,below university,372,131,57.07,5.937,63,okay so what do you wanna do ?&-um make [x 3] ...
7,115,TYP,Girl,88,52.70,English,Female,below university,393,135,43.69,4.494,89,nice .oh !nice .oh &=laughs fell over .that's ...
8,119,TYP,Girl,83,32.00,English,Female,below university,259,89,34.96,5.745,47,no .no so why you xxx it up then ?xxx .xxx .ho...
9,122,ASD,Boy,117,58.58,English,Female,above university,736,178,46.36,6.803,117,look .oh look she has a baby .look .she has a ...
10,123,TYP,Boy,98,34.20,English,Female,above university,1033,216,53.46,6.550,169,are you gonna call the horses ?what are you go...
11,124,ASD,Boy,55,61.70,English,Female,below university,661,138,39.18,4.223,166,we need an xxx .we need an airplane .hm: there...
12,128,ASD,Boy,31,52.44,English,Female,below university,647,140,43.74,3.935,186,it's Aneesh .here .hi Aneesh .&bu Aneesh can't...
13,132,ASD,Boy,93,75.33,English,Female,below university,698,170,42.43,5.631,130,"xxx right now we'll play tea, tea_party ?you d..."
14,134,ASD,Girl,17,63.24,English,Female,below university,896,124,34.64,4.650,200,Ginny .Look at the baby !let's feed the baby G...
15,135,TYP,Boy,79,31.67,English,Female,university,610,120,29.11,5.134,127,xxx what the phone .on Mommy's knee and on Mom...
16,138,ASD,Boy,21,65.54,English,Female,university,729,150,45.78,5.969,128,xxx .xxx dolly .www .let's build a little towe...
17,139,TYP,Boy,49,32.30,English,Female,university,783,150,46.18,6.370,127,no [x 2] she doesn't wanna sit up maybe we can...
18,140,ASD,Boy,0,58.94,English,Female,university,208,68,31.07,4.447,47,who's on the phone ?can you say hello ?say hel...
19,145,TYP,Boy,32,26.18,English,Female,university,552,122,30.61,5.910,100,"what's that ?that's a car, oh we can have a te..."
20,161,TYP,Girl,0,22.93,English,Female,below university,503,103,27.98,5.010,104,here gonna have some tea ?here's some for you ...
21,165,TYP,Boy,7,20.47,English,Female,university,697,175,50.54,4.555,164,"hi &=laughs .oh you wanna talk to Lance, okay ..."
22,202,ASD,Girl,24,60.68,French,Female,university,888,181,61.21,6.029,171,NaN
23,205,TYP,Girl,98,36.27,French,Female,above university,572,156,58.45,5.953,106,NaN
24,206,ASD,Girl,52,61.27,French,Female,university,519,150,64.03,4.841,113,NaN
25,207,TYP,Boy,73,34.53,French,Female,below university,797,190,62.84,5.466,161,NaN
26,214,ASD,Boy,20,62.62,French,Female,below university,301,105,57.18,3.040,101,NaN
27,216,ASD,Boy,87,62.36,French,Female,university,639,196,65.61,5.711,114,NaN
28,218,ASD,Girl,31,47.01,French,Female,above university,325,108,41.25,4.274,84,NaN
29,221,TYP,Boy,35,26.12,French,Female,university,568,143,52.16,5.847,111,NaN
30,222,ASD,Girl,11,58.97,French,Female,below university,680,132,33.90,5.687,134,NaN
31,224,ASD,Boy,125,67.68,French,Female,above university,693,169,51.97,5.839,137,NaN
32,226,ASD,Boy,61,53.95,French,Female,below university,676,173,63.53,5.319,141,NaN
33,227,TYP,Boy,71,26.45,French,Female,university,362,114,60.81,4.061,98,NaN
34,229,TYP,Girl,87,29.70,French,Female,below university,958,226,70.01,5.908,174,NaN
35,233,TYP,Boy,55,26.35,French,Female,university,586,140,52.88,4.043,164,NaN
36,241,TYP,Boy,70,46.49,French,Female,above university,630,176,50.66,5.949,118,NaN
37,247,TYP,Girl,17,20.01,French,Female,below university,760,175,52.10,6.118,136,NaN

In [50]:
merged_dataset[['Subject', 'speech', 'Group']]

    Subject                                             speech Group
0       102  wow Harry .xxx the babies &=gasps !&ah Harry !...   ASD
1       103  but &the, the horsie on the phone .there's a h...   TYP
2       104  wow okay .www .block .okay alright <fix it> [x...   ASD
3       108  will we have these ?could this be his hair ?no...   ASD
4       109  can I see this teapot ?hey look at &nat .what ...   TYP
5       110  xxx .truck is gonna pick up the blocks .is the...   ASD
6       111  okay so what do you wanna do ?&-um make [x 3] ...   TYP
7       115  nice .oh !nice .oh &=laughs fell over .that's ...   TYP
8       119  no .no so why you xxx it up then ?xxx .xxx .ho...   TYP
9       122  look .oh look she has a baby .look .she has a ...   ASD
10      123  are you gonna call the horses ?what are you go...   TYP
11      124  we need an xxx .we need an airplane .hm: there...   ASD
12      128  it's Aneesh .here .hi Aneesh .&bu Aneesh can't...   ASD
13      132  xxx right now we'll play tea, tea_party ?you d...   ASD
14      134  Ginny .Look at the baby !let's feed the baby G...   ASD
15      135  xxx what the phone .on Mommy's knee and on Mom...   TYP
16      138  xxx .xxx dolly .www .let's build a little towe...   ASD
17      139  no [x 2] she doesn't wanna sit up maybe we can...   TYP
18      140  who's on the phone ?can you say hello ?say hel...   ASD
19      145  what's that ?that's a car, oh we can have a te...   TYP
20      161  here gonna have some tea ?here's some for you ...   TYP
21      165  hi &=laughs .oh you wanna talk to Lance, okay ...   TYP
22      202                                                NaN   ASD
23      205                                                NaN   TYP
24      206                                                NaN   ASD
25      207                                                NaN   TYP
26      214                                                NaN   ASD
27      216                                                NaN   ASD
28      218                                                NaN   ASD
29      221                                                NaN   TYP
30      222                                                NaN   ASD
31      224                                                NaN   ASD
32      226                                                NaN   ASD
33      227                                                NaN   TYP
34      229                                                NaN   TYP
35      233                                                NaN   TYP
36      241                                                NaN   TYP
37      247                                                NaN   TYP

In [51]:
# We only have around 21 complete records with speech and metadata.

In [63]:
merged_dataset.dropna().groupby(['Group'])['Group'].describe()

      count unique  top freq
Group
ASD      11      1  ASD   11
TYP      11      1  TYP   11

In [ ]:
# There is equal proportion of records for ASD and TYP